@model CarRental.Web.Areas.Administration.ViewModels.Cars.AddCarViewModel
@using CarRental.Models.Enums

@{
    ViewData["Title"] = "Add car to database";
}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="row col-md-12 justify-content-center">
    <div class="col-md-10">
        <form asp-controller="Cars" asp-action="Add" method="POST" enctype="multipart/form-data">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Car Photo</label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GearType">Gear Type</label>
                <select class="custom-select" asp-for="GearType" asp-items="@Html.GetEnumSelectList<GearType>()">
                    <option selected="">Choose a gear type for the car</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="PricePerDay">Price per day</label>
                <input asp-for="PricePerDay" class="form-control" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationId">Starting location for the car</label>
                <select class="custom-select" asp-for="LocationId">
                    <option selected="">Choose a location for the car</option>
                    @foreach (var location in Model.Locations)
                    {
                        <option value="@location">@location</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Add Car</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

<script>
    // When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
  } else {
    document.getElementById("myBtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
} 
</script>
