@model CarRental.Web.Areas.Administration.InputModels.Cars.AddCarInputModel

@{
    ViewData["Title"] = "Add car to database";
}

<center>
    <h1 style="margin-top: 2%">
        Add car to database
    </h1>
</center>
<hr class="border-info" />

<div class="row col-md-12 justify-content-center">
    <div class="col-md-10 border rounded">
        <form asp-controller="Cars" asp-action="Add" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-form-label" asp-for="Model"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="col-form-label" asp-for="Year"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="col-form-label" asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="col-form-label" asp-for="ImageFile" class="control-label">Car Photo</label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="col-form-label" asp-for="GearType">Gear Type</label>
                <select class="custom-select" asp-for="GearType" asp-items="@Html.GetEnumSelectList<GearType>()">
                </select>
                <span asp-validation-for="GearType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="col-form-label" asp-for="PricePerDay">Price per day ($)</label>
                <input asp-for="PricePerDay" class="form-control" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="col-form-label" asp-for="LocationId">Starting location for the car</label>
                <select class="custom-select" asp-for="LocationId">
                    @foreach (var location in Model.Locations)
                    {
                        <option value="@location">@location</option>
                    }
                </select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <center><button type="submit" style="margin-bottom:2%" class="btn btn-primary">Add Car</button></center>

        </form>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js">
</script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js">
</script>
<script src="~/Scripts/jquery.validate.unobtrusive.js">
</script>
<script src="/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="/js/notify.js"></script>