@model CarRental.Web.Areas.Administration.ViewModels.Locations.AddLocationViewModel
@{
    ViewData["Title"] = "Add Location";
}

<center>
    <h1 style="margin-top:2%">
        Add Location in the database
    </h1>
</center>
<hr class="border-info" />
<div class="row col-md-12">
    <div class="col-md-6">
        <form asp-controller="Locations" asp-action="Manage" method="post">


            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" data-confirm="You will create a new Location" class="btn btn-primary">Add Location</button>
        </form>
    </div>

    <div class="col-md-6">
        <strong>We have available the following locations: </strong>
        <p style="color:red">
            Note: The logistic service will move all cars from the deleted location to our central office "Sofia, Airport Terminal 1".
            All unfinished rents with deleted location as a return location will be redirected the same way.
            You can't delete a location featured in any rent as a pick up location!
        </p>
        @foreach (var location in Model.Locations)
        {
            <div class="d-flex col-md-10 justify-content-between">
                <div>@location</div>

                @if (!location.Contains("Terminal 1"))
                {
                    <div>
                        <a asp-controller="Locations" asp-action="Delete" asp-area="Administration" data-confirm="You will delete the location with name @location" asp-route-name="@location">Delete Location</a>
                    </div>
                }
            </div>
            <hr />
        }
    </div>
</div>

@section Scripts {
    <partial name="~/Views/Shared/Partials/_DataValidationAndConfirmScripts.cshtml" />
}