
<center>
    <h1 style="margin-top:2%">SORRY!</h1> <h2>We cancel your rent request. The car was just rented from someone else.</h2>

    <i class="far fa-sad-tear"></i>
    <h3>You can go back and choose another car for your need or change the dates.</h3>

    <hr class="border-info" />
    <img src="https://www.meyrinoise.ch/images/2017/SERVICES_DU_GARAGE/rear-end-crash-1.png" />
</center>

<div>
    <center>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Homepage!</a>
    </center>
</div>
@section Scripts {
    <partial name="~/Views/Shared/Partials/_FontAwesomeIcons.cshtml" />
}
