@model ICollection<CarRental.Web.ViewModels.Reviews.ReviewViewModel>

@{
    var average = @Model.Average(x => x.Rating);
}

@if (average > 4.9)
{
    <span class="badge badge-primary">FAVORITE CAR BY OUR CUSTOMERS</span>
}
else if (average > 4)
{
    <span class="badge badge-primary">RECOMMENDED CAR</span>
}
else if (average > 3)
{
    <span class="badge badge-primary">MEDIUM CLASS</span>
}
else
{
<span class="badge badge-primary">LOW CLASS</span>
}


