
@{
    this.ViewData["Title"] = "Car Rental Home";
}

<h1 style="margin-top: 2%">
    Car Rental - Find And Book A Great Deal Today in Bulgaria
</h1>
<hr class="border-info" />
<center>
    <vc:user-finished-orders-bar></vc:user-finished-orders-bar>
</center>
<div class="container-fluid col-12 justify-content-between d-flex ">
    <partial name="_SearchCarsPartial.cshtml" />
    <div class="mb-2 mx-5">
        <h5>Why Book With Us?</h5>
        <div>
            <img src="~/Images/mark.jpg" style="width:9%" /> No Credit Card Fees, Pay on place
        </div>
        <div>
            <img src="~/Images/mark.jpg" style="width:9%" /> Available 7 Days a Week
        </div>
        <div>
            <img src="~/Images/mark.jpg" style="width:9%" /> Brand new cars and old fashioned
        </div>
        <div>
            <img src="~/Images/mark.jpg" style="width:9%" /> Voucher adn Feedback system
        </div>
    </div>
</div>
<img src="~/Images/3-cars.png" />
<center>
    <vc:company-details></vc:company-details>
</center>