
@{
    this.ViewData["Title"] = "Home Page";
}

<h1>
    Car Rental - Find And Book A Great Deal Today in Bulgaria
</h1>

<div class="container-fluid col-12" >
    
    <partial name="_SearchCarsPartial.cshtml"/>

</div>

@*<div name="feedback" style="margin-top:2%">
    <partial name="_FeedbackPartial.cshtml" />
</div>*@
<img src="~/Images/3-cars.png" />

<center>
    <vc:company-details></vc:company-details>
</center>